PROJECT_NAME=auth_service
APP_HOST=0.0.0.0
APP_PORT=8006

POSTGRES_DB=auth
POSTGRES_USER=app
POSTGRES_PASSWORD=123qwe
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5433

REDIS_HOST=127.0.0.1
REDIS_PORT=6380
REDIS_DB=0

JWT_SECRET=change_me
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=30

